* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121214;
  font-family: "Mulish", sans-serif;
}

header h1 {
  font-weight: 900;
  font-size: 3.63rem;
  color: #02799d;
  padding: 4.56rem 47.25rem 0.5rem 6.25rem;
}

header p {
  font-weight: 600;
  font-size: 2rem;
  color: #ffffff;
  padding: 0 50.62rem 3.87rem 6.25rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 3.75rem;
  row-gap: 2.75rem;
}

.ic1101,
.phoenix-cluster,
.ngc262,
.ngc4889,
.ngc4874,
.a2261bcg {
  background-color: #323238;
  border-radius: 8px;

  overflow: hidden;
}

.ngc4889,
.ngc4874,
.a2261bcg {
  margin-bottom: 7.12rem;

  overflow: hidden;
}

.card img {
  border-radius: 8px 8px 0 0;

  transition: filter 200ms ease-in-out, transform 1s ease-in;
}

.card img:hover {
  transform: scale(1.2) translateY(-5%);
}

.card h2 {
  font-weight: 900;
  font-size: 2.18rem;
  color: #ffffff;
  text-align: center;
}

.card p {
  width: 321px;

  font-family: "Bacasime Antique", serif;
  font-weight: normal;
  font-size: 1.21rem;
  color: #ffffff;

  margin: 24px 22.5px 26.5px;
}
