* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121214;
  font-family: "Mulish", sans-serif;
}

header h1 {
  font-weight: bold;
  font-size: 3.63rem;
  color: #02799d;
  padding: 4.56rem 47.25rem 0.5rem 6.25rem;
}
